/* Generic */

html {
	min-width: 600px;
}

/* Header */

#header {
	padding: 0 5%;
}

#header-title {
	margin: 0;
	float: left;
}

#header-title a {
	display: block;
	width: 123px;
	height: 42px;
	background-position: center;
}

#header-nav {
	float: right;
}

#header-nav ul {
	margin: 0;
	padding: 0.65em 0;
}

#header-nav li {
	float: left;
	list-style: none;
	margin-left: 1em;
}

/* Content */
#padding-content {
	width: 1000px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin: 0px auto;
}

.speechCycleImage {
}

.form {
	width: 305px;
	margin: 0px auto;
}

.form input {
	display: block;
	background: url('../img/inputBg.png');
	width: 294px;
	height: 54px;
	border: none;
	padding-left: 10px;
	margin-bottom: 10px;
	font-family: arial;
	color: #999;
	font-size: 20px;
}

.form button {
	border: 0px;
	width: 303px;
	height: 54px;
	font-size: 16px;
	folor: #999;
	background: url('../img/submitButton.png');
}

/* Footer */

#footer-nav {
	border-top: 1px solid #AEAEAE;
	width: 50%;
	min-width: 400px;
	margin: auto;
}

#footer-nav ul {
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 1em 0;
}

#footer-nav ul li {
	display: inline;
	padding: 0 1em;
}
